.place__website {
  grid-row: 1;
  grid-column: 2;
  align-self: flex-end;
}
@media screen and (max-width: 320px) {
  .place__website {
    margin-left: 16px;
    align-self: flex-start;
    margin-bottom: 32px;
  }
}
