.places {
  margin: 92px auto 92px;
  max-width: 984px;
}
@media screen and (max-width: 1024px) {
  .places {
    max-width: 928px;
  }
}
@media screen and (max-width: 768px) {
  .places {
    margin: 88px 24px 88px;
    max-width: 100%;
  }
}
@media screen and (max-width: 520px) {
  .places {
    margin: 64px 0 66px;
  }
}

