.place__image {
  grid-column: 1;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .place__image {
    width: 44.3vw;
  }
}
@media screen and (max-width: 425px) {
  .place__image {
    margin-bottom: 32px;
    width: 100%;
  }
}
