.footer__link {
  color: #FFFFFF;
  text-decoration: none;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 112%;
  margin-right: 2.34vw;
}
.footer__link:hover {
  opacity: .8;
  transition: opacity .8s;
}
@media screen and (max-width: 768px) {
  .footer__link {
    font-size: 16px;
  }
}
@media screen and (max-width: 550px) {
  .footer__link {
    display: inline-block;
    margin: 0;
    font-size: 1.5em;
    line-height: 100%;
    margin-bottom: 32px;
  }
}
