.footer__links {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  position: relative;
}
@media screen and (max-width: 550px) {
  .footer__links {
    flex-direction: column;
    align-self: flex-start;
    margin-bottom: 16px;
  }
}
