.place__website-link {
  color: #FFFFFF;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
}
.place__website-link:hover {
  opacity: .8;
  transition: opacity .7s;
}
