.cover {
  margin: 0 auto 0;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1184px;
  min-height: 740px;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
    min-height: 640px;
  }
}
@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
  }
}
@media screen and (max-width: 320px) {
  .cover {
    min-height: 200px;
  }
}
